* {
  box-sizing: border-box;
}

body {
  margin: 0; 
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  background-color: rgb(250, 248, 248); 
}

.generator {
  display: flex; 
  flex-direction: column;
  width: 400px;
  margin: 3em auto;
}

.generator__length,
.generator__special-characters,
.generator__password {
  display: flex;
  margin: 1em;
}

h1 {
  margin: 0 auto 2em auto;
  font-size: 22px;
}

input {
  margin-left: 1em;
  width: 7em;
}

.generator__btn {
  background: rgba(85, 165, 240, 0.726);
  color: rgb(255, 255, 255);
  width: 8em;
  height: 3em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 2em auto 0 auto;
}

input[type="checkbox" i] {
  width: 1.5em;
  height: 15px;
}
